*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente los elementos hijos */
    align-items: center;
    width: 100vh;
    height: 100vh;
}

.card-tables{
    border: 1px solid #ccc; /* Borde gris */
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px 15px; /* Espacio interno */
    margin: 10px; /* Margen exterior */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra */
    background-color: #c6d1ffee; /* Fondo blanco */
}


.card-tables:hover {
    background-color: #6aabf1; /* Cambia el color de fondo del botón al pasar el cursor sobre él */
}

.contResult{
    padding: 0px 100px;
}

.fh{
    height: 100px;
}

.colp{
    padding: 0px 100px;
}